Pictures/*
local/*
Public/*
noip/*
Desktop/*
Documents/*
uv/*
Downloads/*
Python*
.bash*
python*
blockchain/*
.Xauthority
.cache/
.config/
.dbus/
.gitignore
.local/
.pki/
.profile
.selected_editor
.ssh/
.themes/
.viminfo
.vimrc
.virtualenvs
.wget-hsts
.xsession-errors
.xsession-errors.old
guva_log.py
my_python/
py-spidev/
scripts/Ada*
scripts/local/*
